<h1>Listing Pages</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>URL</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @pages.each do |page| %>
      <%= content_tag_for :tr, page do %>
        <td><%= page.title %></td>
        <td><%= page.url %></td>
        <td>
          <%= link_to 'Show', admin_page_path(page), :class => 'btn btn-mini' %>
          <%= link_to 'Edit', edit_admin_page_path(page), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', admin_page_path(page), :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-mini btn-danger' %>
        </td>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Page', new_admin_page_path, :class => 'btn btn-primary' %>