<p>
  <b>Name:</b>
  <%= @preference.name %>
</p>

<p>
  <b>Description:</b>
  <%= @preference.description %>
</p>

<p>
  <b>Content:</b>
</p>
<div>
  <%=m @preference.content %>
</div>


<%= link_to 'Edit', edit_admin_preference_path(@preference), :class => 'btn' %>
<%= link_to 'Back', admin_preferences_path, :class => 'btn' %>